<launch>
  <arg name="scene_name" default="scene_1" />
  <arg name="world_frame" default="odom" />

  <arg name="image_topic" default="/sensor_head_rgbd_cam/color/image_rect_color" />
  <!-- <arg name="image_topic" default="/camera/rgb/image_rect_color" /> -->
  <!-- <arg name="image_topic" default="/sensor_head_zoom_cam/image_color" /> -->

  <arg name="use_semantic_segmentation" default="true" />
  <arg name="verbose" default="false" />

  <node pkg="lidar_modt" type="lidar_modt_node" name="lidar_modt_node" output="screen">
    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="pointcloud_topic" value="/scan_cloud_filtered"/>
  </node>

  <include file="$(find voxblox_ros)/launch/dynamic_mapping/dynamic_mapping_node.launch" >
    <arg name="scene_name" value="$(arg scene_name)" />
    <arg name="world_frame" value="$(arg world_frame)"/>
    <arg name="use_semantic_segmentation" value="$(arg use_semantic_segmentation)" />
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <include file="$(find segmentation_fusion)/launch/segmentation_fusion.launch" if="$(arg use_semantic_segmentation)">
    <arg name="scene_name" value="$(arg scene_name)" />
    <arg name="world_frame" value="$(arg world_frame)"/>
    <arg name="image_topic" value="$(arg image_topic)"/>
  </include>

</launch>
